* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'StratosSkyeng';
    src: url("author.fonts/stratosskyengweb-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'StratosSkyeng';
    background-color: #0080C1;
    color: #0080C1;
    height: 100vh;
}

.sheet {
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;
    background: #C2F5FF;
    border-radius: 12px;
}

.sheet___heading {
    width: 208px;
    height: 96px;
    left: 408px;
    top: 210px;
    padding-top: 52px;
    padding-left: 136px;
    padding-right: 136px;
}

.heading {
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.sheet___blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.blocks__choice-box {
    width: 97px;
    height: 98px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 48px;
    cursor: pointer;
}

.sheet___btn {
    width: 246px;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    margin-top: 67px;
    margin-left: 117px;
    border: none;
    color: #fff;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    cursor: pointer;
}

.warning {
    color: rgb(255, 0, 64);
    font-family: 'StratosSkyeng';
    font-size: 13px;
}

.game-sheet {
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;
    background: #e9ecec;
}

.chosen-level {
    background-color: #0080C1;
    color: #ffffff;
}

.cards-sheet {
    height: 482px;
    margin-left: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 95px;
    height: 133px;
}

.front-side {
    height: 100%;
    height: 133px;
    width: 95px;
}

.back-side {
    background-image: url(img/shirt.svg);
    height: 100%;
    height: 133px;
    width: 95px;
}

.generalContainerForTheGame {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-right: 22px;
}

.timer {
    font-family: 'StratosSkyeng';
    color: #ffffff;
    width: 155px;
    height: 72px;
    left: 22px;
    top: 41px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.timers-names {
    font-family: 'StratosSkyeng';
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    font-feature-settings: 'pnum';
    height: 20px;
}

.startNewGameButton {
    width: 246px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    height: 50px;
    background: #7AC100;
    border-radius: 12px;
    border: #7AC100;
}

.timer_btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timerMinSec {
    display: flex;
    justify-content: flex-end;
    gap: 57px;
    align-items: flex-end;
}