* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: StratosSkyeng;
  src: url('author.fonts/stratosskyengweb-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: StratosSkyeng;
  background-color: #0080c1;
  color: #0080c1;
  height: 100vh;
}

.sheet {
  width: 480px;
  height: 459px;
  left: 272px;
  top: 158px;
  background: #c2f5ff;
  border-radius: 12px;
}

.sheet___heading {
  width: 208px;
  height: 96px;
  left: 408px;
  top: 210px;
  padding-top: 52px;
  padding-left: 136px;
  padding-right: 136px;
}

.heading {
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.sheet___blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.blocks__choice-box {
  width: 97px;
  height: 98px;
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 48px;
  cursor: pointer;
}

.sheet___btn {
  width: 246px;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  margin-top: 67px;
  margin-left: 117px;
  border: none;
  color: #fff;
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  cursor: pointer;
}

.warning {
  color: rgb(255 0 64);
  font-family: StratosSkyeng;
  font-size: 13px;
}

.game-sheet {
  width: 480px;
  height: 459px;
  left: 272px;
  top: 158px;
  background: #e9ecec;
}

.chosen-level {
  background-color: #0080c1;
  color: #fff;
}

.cards-sheet {
  height: 482px;
  margin-left: 26px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 24px;
}

.cards-sheet_medium {
  height: 482px;
  margin-left: 26px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 24px;
}

.cards-sheet_hard {
  height: 482px;
  margin-left: 26px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 95px;
  height: 133px;
}

.card__item-front {
  height: 100%;
  height: 133px;
  width: 95px;
  position: absolute;
  pointer-events: none;
}

.card__item-back {
  height: 100%;
  height: 133px;
  width: 95px;
  position: absolute;
  backface-visibility: hidden;
}

.card__item_hidden {
  display: none;
}

.flipped,
.card__item-back {
  transform: rotateY('180deg');
}

.card__item {
  cursor: pointer;
  transform: scale(1);
}

.card__item:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.generalContainerForTheGame {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 22px;
}

.timer {
  font-family: StratosSkyeng;
  color: #fff;
  width: 155px;
  height: 72px;
  left: 22px;
  top: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
}

.timers-names {
  font-family: StratosSkyeng;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: 'pnum';
  height: 20px;
}

.startNewGameButton {
  width: 246px;
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #fff;
  height: 50px;
  background: #7ac100;
  border-radius: 12px;
  border: #7ac100;
}

.timer_btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timerMinSec {
  display: flex;
  justify-content: flex-end;
  gap: 57px;
  align-items: flex-end;
}
